body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#photo-gallery {
    width: 1024px;
    display: flex;
    flex-flow: column;
}

#photo-display {
    width: 100%;
    height: 683px;
    background-color: azure;
}

#photo-carrousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.thumbnail {
    width: 180px;
    height: 120px;
    background-color: aliceblue;
    flex-shrink: 0;
    cursor: pointer;
}

.thumbnail:hover {
    filter: brightness(0.9);
}

.thumbnail:nth-child(odd) {
    background-color: coral;
}